<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

<nav class="navbar navbar-default my-nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
                <img src="/img/photo.jpg">
            </a>
            <span class="navbar-nav nav nav-title">后台管理中心</span>

            <a type="button" class="btn btn-success navbar-btn" href="index">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;前台首页
            </a>
            <a></a>

        </div>
    </div>
</nav>

</body>
</html>